body{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
img{
    object-fit: cover;
    width: 200px;
}

.information{
    display: flex;
    flex-wrap: wrap;
}

#make{
    flex:auto;
}
#ingredient{
    flex: auto;
}